.popup__input_password {
    position: relative;
}

.password_unvisible{
    background-image: url('../../../../images/unvisible.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 13px;
    right: 5px;
  }
  
  .password_unvisible_off{
    background-image: url('../../../../images/visible.png');
  }