.header {
  max-width: 880px;
  padding-bottom: 37px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 320px) {
  .header {
    min-width: 320px;
    margin-top: 28px;
    margin-bottom: 42px;
    box-sizing: border-box;
    padding-bottom: 28px;
    padding-left: 27px;
    padding-right: 27px;
  }
}



@media screen and (min-width: 321px) and (max-width: 881px) {
    .header {
      max-width: 100%;
      padding-left: 40px;
      padding-right: 40px;
    }
}

