.header__email {
  font-family: 'Inter', arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  margin-right: 24px;
}

@media screen and (max-width: 560px) {
    .header__email {
      margin: 0 0 18px 0;
    }
  }