.popup {
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition-duration: .5s, 0s;
  transition-delay: 0s, 0s;
}

