.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 75%;
}

@media screen and (max-width: 580px) and (min-width: 321px) {
  .user {
  max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .user {
  max-width: 282px;
  }
}

@media screen and (max-width: 580px) {
  .user {
    flex-direction: column;
  }
}