.footer {
  max-width: 880px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0 auto;
  margin-bottom: 60px;
}

@media screen and (max-width: 880px) {
    .footer {
      max-width: 100%;
      margin-left: 40px;
      margin-right: 40px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
      max-width: 282px;
      margin: 0 auto;
      margin-bottom: 36px;
      font-size: 14px;
      line-height: 17px;
    }
}