.popup__photo-block {
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  z-index: 1;
  box-sizing: border-box;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .popup__photo-block {
    max-width: 75%;
    max-height: 75%;
  }
}